<div class="modal-dialog modal-wide goal-edit-form">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h2 class="modal-title">Add a goal</h2>
    </div>
    <div class="modal-body">
      <form ng-submit="addGoal()" id="goaladd">
        <div>
          <label for="title">Title</label>
          <input type="text" ng-model="newGoal.title" placeholder="Ex: Run a Marathon" class="form-control" required>
        </div>
        <div>
          <label for="category">Category</label>
          <select name="category" ng-model="newGoal.category" required class="form-control">
            <option value="">Select a Category</option>
            <option value="personal">Personal</option>
            <option value="health_fitness">Health and Fitness</option>
            <option value="career">Career</option>
          </select>
        </div>
        <div>
          <label for="due_date">Due Date</label>
          <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{mainDatePicker.dateFormat}}" ng-model="newGoal.due_date" is-open="mainDatePicker.opened[ngdd]" min-date="minDate" max-date="'2070-12-31'" datepicker-options="mainDatePicker.dateOptions" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="mainDatePicker.open($event, ngdd)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div>
          <label>Image</label>
          <div class="form-control">
            <input type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*" accept="image/*" ngf-max-size="2MB" required >
            <!-- <i ng-show="myForm.file.$error.required">*required</i><br>
            <i ng-show="myForm.file.$error.maxSize">File too large 
                {{picFile.size / 1000000|number:1}}MB: max {{picFile.$errorParam}}</i> -->
            <br/>
            Image thumbnail: <img ngf-src="file" class="thumb">
          </div>
        </div>
        <hr>
        <div>
          <label for="step">Steps</label>
          <p>Enter at least one step you must take in order to reach your goal.</p>
          <div ng-repeat="step in newGoal.steps" class="form-inline">
            <div class="form-group">
              <div class="input-group col-xs-8">
                <label for="choice_name">Title</label>
                <input type="text" ng-model="step.name" class="form-control" placeholder="Ex: Run a Half Marathon" required>
              </div>
              <div class="col-xs-4">
                <label for="choice_due_date">Due Date</label>
                <div class="input-group">
                  <input type="text" class="form-control" datepicker-popup="{{stepDatePicker.dateFormatShort}}" ng-model="step.due_date" is-open="stepDatePicker.opened[step.$$hashKey]" min-date="minDate" max-date="'2070-12-31'" datepicker-options="stepDatePicker.dateOptions" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="stepDatePicker.open($event, step)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div>
          <a role="button" class="" ng-click="addAnotherStep()">+ Another Step</a>
        </div>
        <p class="text-center">
          <input id="form-submit" class="btn big" type="submit" value="Save Goal">
        </p>
      </form>
    </div>
  </div>
</div>
