<div class='goal-container'>
  <div class="container">
    <div class='goal-information col-md-8 col-md-offset-2'>
      <div class="goal-header">
        <h1 class="goal-title">{{goal.title}} <span class="close">X</span></h1>
      </div>
      <div class="goal-body">
        <div class="img-container">
          <img ng-src="{{goal.image_url}}" />
        </div>
        <p class="goal-due-date">Due: {{goal.due_date | date:'longDate'}}</p>
        <p><span class="goal-user">{{goal.user_name || "Courtney"}}</span> • <span class="goal-category">{{goal.category}}</span></p>
        <table>
          <thead>
            <tr>
              <th>Steps</th>
            </tr>
          </thead>
          <tbody ng-repeat="step in steps">
            <tr>
              <td>{{step.name}}</td>
              <td><span>Due:</span><br/>{{step.due_date | date:'shortDate'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>