<div class="collection-container container">
  <div class="row">
    <div class="col-md-3" ng-repeat="goal in goals">
      <div class="collection-goal-container">
        <div ng-mouseenter="hideOverlay = false" ng-mouseleave="hideOverlay = true" class="collection-goal-image-container">
          <img ng-src="{{ goal.image_url }}">
          <div class="collection-goal-image-overlay" ng-hide="hideOverlay">
            <div class="collection-overlay-content">
              <a class="collection-overlay-button" ng-click="">
                View Details
              </a>
              &nbsp;
            </div>
          </div>
        </div>
        <div class="collection-goal-info caption">
          <p><a class="goal-name" ui-sref="goal">{{goal.title}}</a><br/>
             <a class="goal-category" ui-sref="goal">{{goal.category}}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" ng-repeat="goal in goals">
      <div class="collection-goal-container">
        <div ng-mouseenter="hideOverlay = false" ng-mouseleave="hideOverlay = true" class="collection-goal-image-container">
          <img ng-src="{{ goal.image_url }}">
          <div class="collection-goal-image-overlay" ng-hide="hideOverlay">
            <div class="collection-overlay-content">
              <a class="collection-overlay-button" ng-click="">
                View Details
              </a>
              &nbsp;
            </div>
          </div>
        </div>
        <div class="collection-goal-info caption">
          <p><a class="goal-name" ui-sref="goal">{{goal.title}}</a><br/>
             <a class="goal-category" ui-sref="goal">{{goal.category}}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" ng-repeat="goal in goals">
      <div class="collection-goal-container">
        <div ng-mouseenter="hideOverlay = false" ng-mouseleave="hideOverlay = true" class="collection-goal-image-container">
          <img ng-src="{{ goal.image_url }}">
          <div class="collection-goal-image-overlay" ng-hide="hideOverlay">
            <div class="collection-overlay-content">
              <a class="collection-overlay-button" ng-click="">
                View Details
              </a>
              &nbsp;
            </div>
          </div>
        </div>
        <div class="collection-goal-info caption">
          <p><a class="goal-name" ui-sref="goal">{{goal.title}}</a><br/>
             <a class="goal-category" ui-sref="goal">{{goal.category}}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>